/*body {
  font-family: Georgia, serif;
  background: #fafafa;
  color: #222;
  line-height: 1.7;
}

.story {
  max-width: 700px;
  margin: 3rem auto;
  padding: 1rem;
}*/

/* =========================
   Estilo de lectura – Sepia
   ========================= */

:root {
  --bg-color: #f4ecd8;      /* sepia claro */
  --text-color: #3b2f2f;    /* marrón oscuro */
  --accent-color: #7a4a2e; /* títulos */
  --quote-color: #5a3b2e;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.75;
}

/* Contenedor principal */
.story {
  max-width: 720px;
  margin: 4rem auto;
  margin-top: 3rem;
  padding: 0 1.5rem;
}

/* Título */
.story h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--accent-color);
  text-align: center;
}

/* Párrafos */
.story p {
  margin-bottom: 1.4rem;
  text-align: justify;
}

/* Citas */
.story blockquote {
  margin: 2rem 0;
  padding-left: 1.2rem;
  border-left: 4px solid var(--quote-color);
  color: var(--quote-color);
  font-style: italic;
}

/* Enlaces */
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  margin: 4rem 0 2rem;
  font-size: 0.9rem;
  color: #6b5a4f;
}

/* =========================
   Barra de navegación
   ========================= */

.navbar {
  background: #000;
  color: #fff;
  padding: 0.45rem 0; /*padding: 0.8rem 0;*/
  line-height: 1.2;
  border-bottom: 1px solid #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, "Helvetica Neue",
               Arial, sans-serif;
  font-size: 1rem; /*0.95rem;*/
  font-weight: 900; /*400*/
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.nav-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  /*font-size: 1.5rem; 1.1*/
  /*font-weight: bold;*/
  color: #fff;
}

.nav-links a {
  margin-left: 1.2rem;
  color: #ddd;
  /*font-size: 0.95rem;*/
}

.nav-links a:hover {
  color: #fff;
}
