<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<nav class="navbar">
  <div class="nav-container">
    <a class="nav-title" href="{{ '/' | relative_url }}">Inicio</a>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Historias de Mustafa</a>
      <a href="{{ '/' | relative_url }}">Cosas y arte</a>
      <a href="{{ '/about/' | relative_url }}">Hablemos de mí</a>
    </div>
  </div>
</nav>

<h1 class="story">BIENVENIDOS A MI MUNDO</h1>

<p class="story">Bienvenidos al mundo de Musta. Un mundo de monstruos, pesadillas, romanticismos y proezas absurdas. Un mundo en donde nada es lo que parece ser.</p>

<main class="story">
  {{ content }}
</main>

<footer>
  © 2026 Mustafa Ali Saba. Todos los derechos reservados.
</footer>

</body>
</html>

<!--  -->