<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sitio oficial de Mustafa Ali Saba. Escritor de ficción, cuentos de horror, monstruos y pesadillas literarias.">
  
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<!-- <nav class="navbar">
  <div class="nav-container">
    <a class="nav-title" href="{{ '/' | relative_url }}">Inicio</a>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Historias de Mustafa</a>
      <a href="{{ '/' | relative_url }}">Cosas y arte</a>
      <a href="{{ '/about/' | relative_url }}">Hablemos de mí</a>
    </div>
  </div>
</nav> -->

<nav class="navbar">
  <div class="nav-container">
    <a class="nav-title" href="{{ '/' | relative_url }}">Inicio</a>

    <div class="nav-links">

      <div class="dropdown">
        <a href="#" class="dropdown-toggle">
          Historias de Mustafa
        </a>

        <div class="dropdown-menu">
          {% for story in site.stories %}
            <a href="{{ story.url | relative_url }}">
              {{ story.title }}
            </a>
          {% endfor %}
        </div>
      </div>

      <a href="{{ '/arts/' | relative_url }}">Cosas y arte</a>
      <a href="{{ '/about/' | relative_url }}">Hablemos de mí</a>
    </div>
  </div>
</nav>

<main class="story">
  {{ content }}
</main>

<footer>
  © {{ site.time | date: "%Y" }} Mustafa Ali Saba. Todos los derechos reservados.
</footer>

</body>
</html>

<!--  -->