<!--<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<article class="story">
  <h1>{{ page.title }}</h1>
  <div class="content">
    {{ content }}
  </div>
</article>

</body>
<footer>
  © 2026 Mustafa Ali Saba.
  Licencia: CC BY-NC-ND 4.0
</footer>
</html>

</body>
</html>-->
<!--<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<article class="story">
  <h1>{{ page.title }}</h1>
  <div class="story">
    {{ content }}
  </div>
</article>

<footer>
  © 2026 Mustafa Ali Saba. Todos los derechos reservados.
</footer>

</body>
</html>-->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<nav class="navbar">
  <div class="nav-container">
    <a class="nav-title" href="{{ '/' | relative_url }}">Home</a>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Mustafa's Stories</a>
      <a href="{{ '/' | relative_url }}">Arts and Stuff</a>
      <a href="{{ '/about' | relative_url }}">Let's Talk About Me</a>
    </div>
  </div>
</nav>

<article class="story">
  <h1>{{ page.title }}</h1>
  <div class="story">
    {{ content }}
  </div>
</article>

<footer>
  © 2026 Mustafa Ali Saba. Todos los derechos reservados.
</footer>

</body>
</html>
